/* TODO
[ ] fix overlap on .heading h1 and p when the window shrinks
[ ] change the landing page from flex to grid
[ ] apply an overflow function to the landing page (after grids have been implemented)
[ ] figure out why the heading links won't cooperate
[ ] correct landing page image alignment
[ ] layer landing page text in between border ---like this---
[ ] favicon
[ ] figure out why figures break images in the landing page*/

/* general */

body {
  background-color: #dae0d9;
}

img {
  padding: 2px;
  border: 1px;
  margin: 15px;
  border: solid 2px #426d6f;
  padding: 1rem;
}

p, ul {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px 20px;
  font-size: 15px;
  color: #253531;
}

span {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
  text-decoration: underline;
}

/* heading */

.heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-shrink: 3;
  align-content: flex-start;
  background-color: #dde9e9;
  gap: 25px;
  margin: 0 auto;
  padding: 1em 1em;
  border-bottom: solid 2px #426d6f;
  border-right: solid 2px #426d6f;
}

.heading h1 {
  position: absolute;
  z-index: 1;
  padding: 1rem 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  background-color: #426d6f;
  color: #dde9e9;
  border: solid 2px #dde9e7;
}

.heading img {
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0 auto;
  padding: 1em 1em;
}

.heading p {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  justify-content: flex-start;
  align-self: flex-start;
  width: 50%;
  margin: 0 auto;
  padding: .5% 1% .5% 1%;
  font-size: .9rem;
  color: #263834;
}

.heading a {
  position: relative;
  z-index: 1;
  margin: 0 auto 5%;
  padding: 1rem 5rem;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #426d6f;
}

/* sidebar */

.sidebar {
  z-index: 20;
  position: sticky;
  top: 0px;
  left: 0px;
  align-self: auto;
  margin: .5em .5em;
  font-size: 1em;
  width: 100px;
  height: 200px;
  flex-wrap: wrap;
  flex-shrink: 3;
  border-top: solid 2px #8c9e97;
  border-left: solid 2px #8c9e97;
  color: #263834;
}

/* landing page */

.landing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: 90%;
  height: 90%;
  margin: -10em 5% 5%;
  box-sizing: border-box;
  flex-shrink: 3;
  padding: 1rem;
  overflow-y: scroll;
}

.landing p, ul {
  position: relative;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px 20px;
  font-size: 15px;
  border: 2px solid #8c9e97;
  color: #263834;
}

.landing h2 {
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #263834;
}

.landing img {
  justify-self: flex-start;
  padding: 2px;
  border: 1px;
  margin: 15px;
  border: solid 1px #426d6f;
  padding: 1rem;
}

/* footing */

.footing {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-grow: 5;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #dde9e9;
  padding: .2em;
  border-top: solid 2px #426d6f;
  border-left: solid 2px #426d6f;
}

.footing a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: #263834;
  border: 1px solid #426d6f;
  padding: .3rem;
}

.footing a:hover {
  color: #728984;
  text-decoration: underline;
}

/* main content */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  margin: -10em 5% 5%;
  box-sizing: content-box;
  flex-wrap: wrap;
  flex-shrink: 3;
}

.main h2 {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #426d6f;
}

figure, figcaption {
  font-size: 13px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .3px;
}

a:link {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: #263834;
}

a:hover {
  color: #728984;
  text-decoration: underline;
}