/* TODO
[ ] find someone to look this over and provide feedback
[X] fix overlap on .heading h1 and p when the window shrinks
[X] change the landing page from flex to grid
  [X] change content pages from flex to grid
[X] apply an overflow function to the landing page (after grids have been implemented)
[X] figure out why the heading links won't cooperate
[X] correct landing page image alignment
[ ] force footer to stick to the bottom of the page no matter content length
    [ ] restyle footer buttons
    [ ] fix submit button
[X] a better overflow for the header
    [ ] force scroll on header content height when window changes size
    [ ] force fit on header content width when window changes size
    [ ] make sure this is reflected in media queries
[X] border for each landing grid column
[ ] convert recent box into a feed
    [ ] implement widgets and previews
    [ ] see if it's possible to convert this into auto behavior ^^
    [ ] div box of its own? 
[ ] center images in landing page boxes
    [X] figure out why figures break images in the landing page
    [ ] resize images in landing page boxes when window changes size
[ ] update media queries
[ ] implement container queries
[ ] visually interesting
      [ ] favicon
      [ ] layer landing page box titles in between border ---like this---
      [ ] add border and unique header color
      [ ] center sticky smaller image in the header that acts as a popup nav sidebar thing 
      [ ] look at more sites for layout ideas 
      [ ] visual division of content, header, etc */

/* general */

body {
  background-color: #dae0d9;
}

p, ul {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px 20px;
  font-size: .9em;
  color: #253531;
}

span {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
  text-decoration: underline;
}

img {
  margin: 1em;
  padding: 1em;
  border: solid 1px #253531;
}

/* heading */

.heading {
  display: grid;
  grid-template-columns: 20% 50% 20% (auto-fill, minmax(1fr));
  grid-auto-flow: column;
  margin: .5em;
  padding: 1em .5em;
  gap: 3em;
  justify-self: stretch;
  align-self: center;
  max-width: 40% 40%;
  max-height: fit-content(30%);
  overflow-y: scroll;
  overflow-x: scroll;
}

.heading img {
  position: relative;
}

.heading h1 {
  position: absolute;
  z-index: 4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  background-color: #426d6f;
  color: #dde9e9;
  border: solid 2px #dde9e7;
}

.heading p {
  position: relative;
  box-sizing: border-box;
  font-size: .9rem;
  color: #263834;
}

.heading a:link {
  font-size: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #426d6f;
}

  .heading a:hover {
  color: #728984;
  text-decoration: underline;
}

/* footer */

.footing {
  display: flex;
  position: sticky;
  bottom: 0%;
  align-self: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #dde9e9;
  padding: .2em;
  border-top: solid 2px #426d6f;
  border-left: solid 2px #426d6f;
}

/* landing */

.landing {
  display: grid;
  grid-template-columns: 40% 40%;
  max-width: 40% 40%;
  max-height: 60% 60%;
  overflow-y: scroll;
  overflow-x: scroll;
  grid-auto-flow: column;
  margin: .5em;
  padding: 1em .5em;
  gap: 3em;
  justify-self: stretch;
  justify-content: center;
  align-self: center;
  box-sizing: content-box;
}

.landing p, ul {
  position: relative;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px 20px;
  font-size: 15px;
  border: 2px solid #8c9e97;
  color: #263834;
}

.landing img {
  overflow: scroll;
  width: auto;
  height: auto;
  object-fit: contain;
  padding: 1em .5em;
  justify-self: stretch;
  justify-content: center;
  align-self: center;
}

/* main */

.main {
  display: grid;
  grid-column: auto;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  margin: 1em auto;
  box-sizing: content-box;
}

.main h2 {
  position: relative;
  margin-top: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #426d6f;
}

figure, figcaption {
  font-size: .9rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .3px;
}

a:link {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #263834;
}

a:hover {
  color: #728984;
  text-decoration: underline;
}

/* media query: mobile */

@media screen and (min-width: 250px) and (max-width:480px) {
  .heading .footing .landing .main .calculator {
    grid-template-columns: repeat (1, 1fr);
    overflow-y: auto;
    max-height: fit-content(30%);
  }
}

/* media query: tablet */

@media screen and (min-width: 481px) and (max-width: 768px) {
  .heading .footing .landing .main .calculator {
    grid-template-columns: repeat (3, 1fr);
    overflow-y: auto;
    max-height: fit-content(30%);
  }
}

/* media query: laptop */

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .heading .footing .landing .main .calculator {
    grid-template-columns: repeat (4, 1fr);
    overflow-y: auto;
    max-height: fit-content(30%);
  }
}

/* calculator

.calculator form {
  display: grid;
  grid-template-columns: 20% 20% 20% (auto-fill, minmax(1fr));
  grid-auto-flow: column;
  justify-self: center;
  align-items: center;
  align-self: center;
  max-width: 80%;
  overflow-y: scroll;
  overflow-x: scroll;
  gap: 5%;
}







.feedback textarea {
  position: relative;
  width: 100%;
  margin: .5em;
  padding: .5em;
  border: 2px solid #8c9e97;
  border-radius: 30px;
  color: #263834; 
  background-color: #dde9e7;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  resize: vertical;
}

